/*--------------general------------------------*/
:root {
  --bg-color: #99d19c;
  --principal-color: #ade1e5;
  --border-color: #094074;
}
body {
  background-color: var(--bg-color);
}
main {
  width: 100%;
  margin: 40vh auto 0;
}
#btn-container {
  width: inherit;
  display: flex;
  justify-content: space-around;
}
/*-------------------------add container-----------*/
#pop-add-info-container,
#pop-show-info-container {
  background-color: var(--principal-color);
  box-shadow: 0px 0px 15px 5px var(--border-color);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 5%;
  left: 0%;
  right: 0;
  width: 50vw;
  height: 20vh;
  padding: 1em;
  margin: 0 auto;
}

.hl {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 720px) {
  #pop-add-info-container,
  #pop-show-info-container {
    width: 40%;
  }
}

@media screen and (min-width: 1020px) {
  #pop-add-info-container,
  #pop-show-info-container {
    width: 30%;
  }
}
